/* Stilizarea literelor de pe tastatura */
.letter {
    border: 2px solid black;
    height: 55px;
    width: 55px;
    font-size: 25px;
    background-color: #3dd180;
}

.letter:hover {
  /* opacity: 0.5; */
  background-color: #000;
  color: #5cdb95;
}

.letter:disabled {
  background-color: #000;
  color: #5cdb95;
}

/* Stilizare tastatura */
#row {
  display: flex;
  text-align: center;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.keywords {
  margin-top: 25px;
}

/* Stilizare bara de navigare */
#nav-bar {
  margin-left: 45px;
}

.header {
  background-color: black;
}

h3 {
  color: #5cdb95;
  margin-left: 50px;
  font-size: 25px;
  padding-top: 10px;
}


a {
  color: white;
  text-decoration: none;
  transition: 0.25s ease;
}

ul {
  display: flex;
  /* flex-wrap: wrap; */
  list-style-type: none;
}

ul li {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

ul:hover a {
  color: gray;
}

ul:hover a:hover {
  color: #3dd180;
  box-shadow: 0 2px 0 0 currentColor;
  /* Acest lucru aplică un efect de umbră casetă pentru legături atunci când atât elementele <ul>, cât și <a> sunt plasate peste. 
  Umbra casetei apare ca o linie înaltă de 2 pixeli sub text, folosind culoarea curentă a textului ca culoare a umbrei. */
}
/* Stilizare spanzuratoare */
.image {
  border: 2px solid black;
  width: 500px;
  height: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#paragraf {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: solid;
}

/* #indiciu {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: solid;
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2; 
} */

.hidden {
  display: none;
}

#spanzuratoare {
  margin-top: 50px;
  margin-left: 100px;
}

/* Stilizare buton */
/* Modificare buton pentru a fi centrat */
#buton {
  display: flex;
}

#buton1, #hint {
  justify-content: center;
  font-size: 20px;
  color: #5cdb95;
  background-color: black;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#buton1:hover {
  opacity: 0.8;
}

/* Afisare litere ca dash-uri */
#user-input-section {
  display: flex;
  justify-content: space-around;
  font-size: 1.8em;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

#mesaj {
  display: none;
  background-color: black;
  color: #85f1b5;
  border: 2px solid #000;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}  

#indiciu{
  border: 2px solid black;
  background-color: black;
  color: #85f1b5;
  font-size: 20px;
  height: 25px;
  width: auto;
  padding: 10px;
}

#levels{
  color: #5cdb95;
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  margin-right: 80px;
}

.level:hover{
  color: white;
  cursor: pointer;
}

